{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    {% include "components/page-title.html.twig" with {'title' : 'Платформа за онлайн обучение'} %}
    <div class="row">
        <div class="d-flex p-5 justify-content-center">
            <div class="row">
                <div class="col-12 fs-4">Вие сте:</div>
                <div class="col-12">
                    <a href="{{ path('teacher_login') }}" class="btn btn-primary big-button px-5">Преподавател</a>
                </div>
                <div class="col-12 pt-4">
                    <a href="{{ path('student_login') }}" class="btn btn-primary big-button px-7-9">Ученик</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}