{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="d-flex p-5 justify-content-center">
            <h1 class="big-title">Платформа за онлайн обучение</h1>
        </div>
    </div>
    <div class="row">
        <div class="d-flex p-5 justify-content-center">
            <div class="row">
                <div class="col-12">Вие сте:</div>
                <div class="col-12">
                    <a href="" class="btn btn-primary big-button px-5">Преподавател</a>
                </div>
                <div class="col-12 pt-4">
                    <a href="" class="btn btn-primary big-button px-7-9">Ученик</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}