<!DOCTYPE html>
<html lang="bg">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Онлайн обучение{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}
    </head>
    <body>
        {% include 'components/navigation.html.twig' %}
        {% block body %}
        {% endblock %}
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('libraries') }}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
