{% extends "base.html.twig" %}
{% block title %}Преподавателски админ панел{% endblock %}
{% block body %}
    <div class="wrapper">
        {% include "admin/components/teacher/top.navigation.html.twig" %}
        {% include "admin/components/teacher/side_navigation.html.twig" %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
