<nav id="public-nav" class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand logo" href="{{ path('home_page') }}"><i class="bi bi-mortarboard-fill"></i></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home_page') }}">Начало</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('register') }}">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</nav>